@model JobsApp.Models.ViewModels.Account.LoginViewModel


<div class="container d-flex justify-content-center align-items-center min-vh-100 ">
    <div class="col-5">
        <form asp-controller="Account" asp-action="Login" method="post">
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email address</label>
                <input asp-for="Email" type="email" class="form-control" aria-describedby="emailHelp" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="list-group-flush"></div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}